
#container {
    display: flex;
    flex-direction: column;

    height: 720px;
    width: 720px;
}

.itemCont {
    flex-grow: 1;
    display: flex;
}

.sqrs {
    background-color: rgb(0, 255, 255);
    border-style: solid;
    flex-grow: 1;
}

.sqrs.used {
    background-color: black;
}